apiVersion: v1
kind: ConfigMap
metadata:
  name: promtail-config-currency
  namespace: muffin
data:
  promtail.yaml: |
    server:
      http_listen_port: 3101
      grpc_listen_port: 0

    positions:
      filename: /tmp/positions.yaml

    clients:
      - url: http://loki.monitoring.svc.cluster.local:3100/loki/api/v1/push

    scrape_configs:
      - job_name: muffin-currency-file
        pipeline_stages:
          - json:
              expressions:
                level: level
                trace_id: trace_id
                span_id: span_id
          - labels:
              logLevel: level
              traceId: trace_id
        static_configs:
          - targets: [localhost]
            labels:
              job: muffin-currency
              __path__: /logs/*.log