replicaCount: 1

appLabel: muffin-wallet

version: v1

serviceAccount:
  name: muffin-wallet

image:
  repository: aksumshevkevich/muffin-wallet
  tag: "latest"
  pullPolicy: Always

containerPort: 8081

service:
  type: NodePort
  port: 80
  targetPort: 8081
  nodePort: 30090

# volumes:
#   - name: application-config-volume
#     configMapName: muffin-wallet
#     mountPath: /app/config
#   - name: app-logs
#     emptyDir: {}
#   - name: promtail-config
#     configMap:
#       name: promtail-config

envFrom:
  secrets:
    - muffin-wallet
  configMaps:
    - muffin-wallet-env

livenessProbe:
  enabled: true
  httpGet:
    path: /actuator/health/liveness
    port: 8081
  initialDelaySeconds: 150
  periodSeconds: 10
  timeoutSeconds: 5
  failureThreshold: 3

readinessProbe:
  enabled: true
  httpGet:
    path: /actuator/health/readiness
    port: 8081
  initialDelaySeconds: 60
  periodSeconds: 10
  timeoutSeconds: 5
  failureThreshold: 3

secret:
  name: muffin-wallet
  data:
    SPRING_DATASOURCE_PASSWORD: bXVmZmluLXdhbGxldA==
configMaps:
  env:
    name: muffin-wallet-env
    data:
      JDK_JAVA_OPTIONS: -Dspring.config.additional-location=/app/config/application.yaml
  application:
    name: muffin-wallet
    applicationYaml: |-
      ---
      server:
        port: 8081

      spring:
        application:
          name: "muffin"
        datasource:
          url: jdbc:postgresql://host.minikube.internal:5432/muffin_wallet
          username: muffin-wallet
          password: muffin-wallet

      logging:
        pattern:
          level: "%5p [%X{traceId:-},%X{spanId:-}]"
        file:
          name: logs/app.log

      currency:
        service:
          url: http://muffin-currency:8083/rate
          
      management:
        tracing:
          propagation:
            type: w3c
          sampling:
            probability: 1.0 # Sample 100% of traces for demo
        zipkin:
          tracing:
            endpoint: "http://zipkin.monitoring.svc.cluster.local:9411/api/v2/spans" # Zipkin's v2 API
        endpoints:
          web:
            exposure:
              include: '*'
        endpoint:
          health:
            probes:
              enabled: true
            show-details: always

      management.metrics.distribution.percentiles-histogram.http.server.requests: true

metrics:
  enabled: true
  serviceMonitor:
    enabled: true
    interval: 15s
    path: /actuator/prometheus

ingress:
  enabled: false
  # className: "nginx"
  # hosts:
  #   - host: muffin-wallet.local
  #     paths:
  #       - path: /
  #         pathType: Prefix