auth:
  strategy: anonymous

deployment:
  ingress:
    enabled: false

server:
  web_root: /kiali
  port: 20001

external_services:
  prometheus:
    enabled: true
    url: http://prometheus-kube-prometheus-prometheus.istio-system:9090
  grafana:
    enabled: false
  tracing:
    enabled: true
    in_cluster_url: http://jaeger-query.istio-system:16686
    url: http://jaeger-query.istio-system:16686
    use_grpc: false

